@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vending Machine</h1>
    <p>Choose Your Favorit Product!</p>
    <img  src="~/lib/poza.jpg" alt="photo" />
</div>

